.container{
    text-align: center;
    margin-top: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    padding-bottom: 20px;
    color: rgb(71, 70, 70);
    
    
}
table{
    margin:auto
}
input{
    font-size: 30px;
    margin-bottom: 30px;
    border-radius: 2px;
}
button{
    font-size: 25px;
  
    width: 93px;
height: 40px;  



    
}
.calculator{
    display: inline-block;
    background-color: rgb(249, 226, 230);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 50px gainsboro;

    
}
